{% extends 'base.html.twig' %}

{% block title %}Edit Element{% endblock %}

{% block content %}

    {% form_theme form 'element/form-template.html.twig' %}

    <div class="form-edit">
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>


    <a href="{{ path('element_index') }}">back to list</a>

{% endblock %}
